<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    
    <application
        android:name=".DataMonitorApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.siddharth.datamonitor.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication" />

        <activity-alias
            android:name=".MainActivitySpring"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_spring"
            android:roundIcon="@drawable/ic_launcher_spring"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityDesert"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_desert"
            android:roundIcon="@drawable/ic_launcher_desert"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityForest"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_forest"
            android:roundIcon="@drawable/ic_launcher_forest"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <activity-alias
            android:name=".MainActivityMidnightAmoled"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_midnight_amoled"
            android:roundIcon="@drawable/ic_launcher_midnight_amoled"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivitySolarizedLight"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_solarized_light"
            android:roundIcon="@drawable/ic_launcher_solarized_light"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityOceanDeep"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_ocean_deep"
            android:roundIcon="@drawable/ic_launcher_ocean_deep"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivitySunsetBlaze"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_sunset_blaze"
            android:roundIcon="@drawable/ic_launcher_sunset_blaze"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityCyberpunk"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_cyberpunk"
            android:roundIcon="@drawable/ic_launcher_cyberpunk"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityLavenderHaze"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_lavender_haze"
            android:roundIcon="@drawable/ic_launcher_lavender_haze"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityMatrix"
            android:targetActivity="com.siddharth.datamonitor.MainActivity"
            android:icon="@drawable/ic_launcher_matrix"
            android:roundIcon="@drawable/ic_launcher_matrix"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
